<section class="tc-modal contract">
  <form class="tc-dialog">
    <i data-icon="close_gray" class="close"></i>
    <header>
      <span>Termos de uso</span>
    </header>
    <p></p>
    <footer>
      <button id="enter" data-wd="tos" class="btn tb btn-padding accept">Aceitar e Continuar</button>
    </footer>
  </form>
</section>
