<section class="tc-modal unavailable">
  <form class="tc-dialog">
    <header>
      <span>Conferência indisponível no momento</span>
    </header>
    <p>Devido ao alto tráfego, pedimos aos usuários que tentem novamente mais tarde. Obrigado pela compreensão.</p>
  </form>
</section>
